body {
    color: #464B52;
    font-family: 'Arvo', serif;
    font-weight: 400;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    font-size: 16px;
}
// @media only screen and (min-width: 800px) {
    // body,
    // html {
        // font-size: 14px;
    // }
// }
// @media only screen and (min-width: 1200px) {
    body,
    html {
        font-size: 16px;
    }
// }
// @media only screen and (min-width: 1600px) {
//     body,
//     html {
//         font-size: 18px;
//     }
// }
a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #464B52;
    margin: 0;
    font-weight:400;
}

video {
    max-width: 100%;
    height: auto;
}

.hidden-content {
    display: none;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.img-caption {
    font-family: 'Arvo', serif;
    color: #626569;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-top: 16px;
    font-style: italic;
    line-height: 24px;

}

p {
    margin: 16px 0 32px;
}


h1,
.h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
}


h2,
.h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 48px;
}

h2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: -8px;
    left: 0%;
    background-color: #464B52;

}


.quote::before{
/*   color: #D6D8DA; */
  content: "";
  position: absolute;
/*   font-size: 1em;
  line-height: 1em; */
  width: 23px;
  height: 18px;
  margin-left: -32px;
  margin-top: -12px;
  background: url(/images/projects/sat/quote.png) no-repeat top left;;
  background-size: 23px;
/*   margin-left: -100px; */
/*   bottom: -20px; */
/*   vertical-align: -100px; */
/*     content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: -8px;
    left: -20px;
    background-image: "/images/project/sat/quote.png";
    background-color: red; */

}

.quote-from{
    /* SAT Student: */
font-size: 16px;
color: #888D93;
line-height: 32px;
font-style: italic;
}

h3 {
    font-size: 22px;
    color: #21242C;
    line-height: 40px;
/*     margin-top: 48px; */
    font-weight: 500;
}




.btn {
    padding: 7px 15px;
    font-size: 11px;
/*     text-transform: uppercase; */
/*     letter-spacing: 2px; */
    border-radius: 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-default {
    color: #2F2F33;
    background-color: #fff;
    border-color: #eee;
}
.btn-white {
    background: #fff;
    color: #000;
}
.btn-white:hover {
    background: #1D1E1F;
    color: #fff;
}
.btn-dark {
    background: #212127;
    color: #fff;
}
.divide20 {
    height: 20px;
    display: block;
    clear: both;
}
.space {
/*     padding-bottom: 20px; */
    padding-top: 204px;
}

/* SOCIAL ICONS
   ================================================== */

.socialIcons {
    font-size: 16px;
}
.socialIcons ul {
    padding: 0;
}
.socialIcons li {
    display: inline-block;
    float: none;
    text-align: center;
    line-height: 26px;
    margin-right: 5px;
}
.socialIcons li a {
    color: #000;
    display: block;
    background: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
}
.socialIcons li a:hover {
    color: #fff;
}
.socialIcons li a.fb:hover {
    background: #3c599f;
}
.socialIcons li a.twitter:hover {
    background: #00aced;
}
.socialIcons li a.google:hover {
    background: #d85131;
}
.socialIcons li a.linkedin:hover {
    background: #017eb4;
}
.socialIcons li a.pinterest:hover {
    background: #d20003;
}
.socialIcons li a.youtube:hover {
    background: #c8312b;
}
/* PAGE WRAPPER
   ================================================== */

.wrapper {
    z-index: 2;
    background: #fff;
    position: relative;
}
/* SLIDER  
   ================================================== */

#slider {
    max-height: 700px;
}
.slides .overlay {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(40, 40, 53, 0.81) url("../images/dot.png");
}
/* SLIDER TEXT
   ================================================== */

.caption-wrap {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    color: #fff;
    left: 0;
    right: 0;
    top: 180px;
    position: absolute;
}
@media (max-width: 948px) {
    .caption-wrap {
        top: 80px;
    }
}
@media (min-width:1200px) {
    .caption-wrap {
        top: 235px;
    }
}
.caption-wrap span {
    display: block;
}
.caption-wrap .line-1 {
    position: relative;
    font-size: 18px;
    bottom: 15px;
}
.caption-wrap .line-1:before,
.caption-wrap .line-1:after {
    content: "\f005";
    font-family: FontAwesome;
    position: relative;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 12px;
    margin: 0 30px;
    top: -2px;
}
.caption-wrap .line-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 90px;
    letter-spacing: 15px;
    margin: 0 0 20px;
    color: #fff;
}
.caption-wrap .line-3 {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    letter-spacing: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 25px 0;
}
.caption-wrap .line-3:before,
.caption-wrap .line-3:after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 5px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.caption-wrap .line-3:before {
    margin: 7px 0 0 -60px;
}
.caption-wrap .line-3:after {
    margin: 7px 0 0 10px;
}
.caption-wrap .line-4 {
    width: 100%;
    position: relative;
    font-size: 18px;
    margin: 50px 0 0;
}
.caption-wrap .line-5 {
    position: relative;
    text-align: center;
    margin: 35px auto;
    display: block;
    font-size: 20px;
}
.caption-wrap .line-5 a {
    text-decoration: none;
    display: inline-block;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}
.caption-wrap .line-5 a:nth-child(1) {
    text-align: right;
}
.caption-wrap .line-5 a:nth-child(1):after {
    content: "\f005 ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 30px;
    text-align: center;
    width: 90%;
    top: 4px;
    margin: 0;
    padding: 0 20px;
}
.caption-wrap .line-6 {
    font-size: 16px;
    letter-spacing: 7px;
    color: #fff;
}
.caption-wrap .line-6:before,
.caption-wrap .line-6:after {
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 16px;
    margin: 0 10px;
    top: 2px;
}
/* NAVIGATION
   ================================================== */

.contact-icon {
    opacity: 0.7;
    transition: 0.2s all ease-in;
}

.contact-icon:hover {
    opacity: 1;
}

.contact-icon.email {
    width: 46px;
    margin-left: 10px;
}

.contact-icon.linkedin {
    width: 44px;
    margin-left: 10px;
}


.contact-icon a {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
}

.contact-icon a, .contact-icon img {
    max-width: 100% !important;
    max-height: 100%;
}

.navbar-wrap {
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 16;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: none;
    border-bottom: 1px solid #eee;
    /*padding: 5px 0;*/
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default li {
    display: inline-block;
    margin: 15px 12px;
}
@media (min-width: 1140px) {
    .navbar-default li {
        margin: 15px 13px;
    }
}
@media (max-width: 948px) {
    .navbar-default li {
        display: inline-block;
        margin: 15px 4px;
    }
}
.navbar-nav>li>a {
    display: block;
/*     text-transform: uppercase; */
    font-size: 14px;
    color: #1c2334;
/*     letter-spacing: 2px; */
    -webkit-transition: all .3s;
    transition: all .3s;
    font-family: 'Roboto', sans-serif;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #1c2334;
    background-color: #FFFFFF;
}
.navbar-default .righ-side {
    float: right;
    width: 43%;
}
.navbar-default .left-side {
    width: 43%;
    float: left;
    text-align: right;
}
@media (max-width: 768px) {
    .navbar-default .righ-side,
    .navbar-default .left-side {
        float: none;
        width: auto;
    }
    .nav>li {
        position: relative;
        display: block;
        text-align: left;
    }
    .navbar-nav>li>a {
        padding: 15px 20px;
    }
}
a.logo {
    position: absolute;
    top: 9px;
    left: 50%;
    width: 70px;
    height: 70px;
    line-height: 65px;
    text-align: center;
    margin-left: -35px;
    background-color: #FFF;
    color: #1c2334;
    font-size: 45px;
    border: 4px solid #1c2334;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.logo:hover {
    background: #1c2334;
    color: #fff;
    text-decoration: line-through;
}
.navbar-header {
    position: relative;
    padding: 18px 0;
}
/* SERVICE SECTION
   ================================================== */

#intro {
    background: url("../images/bg.png");
}
.service-wrap {
    /* border: 2px solid #1c2334; ! Used for more retro look,try it */
    /* outline: 1px dashed #98abb9; ! Used for more retro look,try */
    outline-offset: -6px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.service-wrap .icon-wrap {
    height: 130px;
    padding: 15px 0 20px;
}
.service-wrap img {
    width: 60px;
    display: block;
    height: auto;
    margin: auto;
    padding: 20px 0 35px;
    border-bottom: 2px solid #1c2334;
}
.service-wrap .service-content {
    margin: 20px 15px 20px;
}
.service-wrap .service-btm {
    padding: 0;
    /* border-top: 2px solid #1c2334; */
    margin-left: 3px;
    margin-right: 3px;
}
.service-wrap .service-btm a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    display: block;
    cursor: pointer;
    color: #1c2334;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
}
.service-wrap .service-btm a:hover {
    background: #212127;
    outline: 1px dashed #555352;
    outline-offset: -6px;
    color: #8A8A8A
}
/* PORTFOLIO SECTION
   ================================================== */

#clients {
    background: #212127;
    outline: 1px dashed #555352;
    outline-offset: -6px;
    position: relative;
}
#clients .overlay {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/dot.png");
}
#clients h2,
#clients h1 {
    color: #fff;
}
#clients p {
    color: #8A8A8A
}
/* PORTFOLIO FILTER NAVIGATION
   ================================================== */

.portfolio-categories {
    list-style: none;
    margin: 5px 0 25px;
    padding: 10px 0;
}
.portfolio-categories ul {
    padding: 0;
}
.portfolio-categories li {
    display: inline;
    margin-top: 5px;
    line-height: 200%;
}
.portfolio-categories li a {
    background: #fff;
    color: #26292a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 12px 15px;
    border-radius: 0;
}
.portfolio-categories ul li.active a,
.portfolio-categories ul li a:hover {
    background-color: #26292a;
    color: #FFF;
    text-decoration: none;
}
.isotope-item {
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 2;
    // width: 49.9%;
}
/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.isotope-item .project-info {
    position: relative;
    padding: 16px;
    background-color: #fff
}
/* .isotope-item .project-info h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
} */
.isotope-item .project-info p {

    font-family: 'Arvo'，serif;
    font-size: 14px;
    color: #626569;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.isotope-item .project-info:after,
.isotope-item .project-info:before {
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    /*border: solid transparent;*/
    border: none;
    content: " ";
    pointer-events: none;
}
.isotope-item .project-info:after {
    left: 50%;
    margin-left: -16px;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFFFFF;
    border-width: 16px;
}
.isotope-item .project-info:before {
    left: 50%;
    margin-left: -17px;
    border-bottom-color: #FFFFFF;
    border-width: 17px;
}
#portfolio {
    background: #f6f6f6;
}
.isotope-item {
    position: relative;
    margin-bottom: 30px;
}
.isotope-item figure {
    position: relative;
}
/*** effect inner-shadow ***/

.isotope-item .layer {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}
/*** effect inner-shadow ***/

.isotope-item:hover .layer {
    box-shadow: inset 0px 0px 40px rgba(26, 25, 29, 0.45);
    -moz-box-shadow: inset 0px 0px 40px rgba(26, 25, 29, 0.45);
    -webkit-box-shadow: inset 0px 0px 40px rgba(26, 25, 29, 0.45);
}
.isotope-item .layer {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.isotope-item:hover .layer {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
/* PROJECT DETAILS
   ================================================== */

.project-slide-wrap {
    background: #212127;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    color: #8A8A8A;
    padding: 60px 0;
}
.project-desc-wrap {
    /*padding: 60px 0;*/
    padding-top: 80px;
    /* padding-bottom: 60px; */
}
.affix {
    top: 90px;
    /* Set the top position of pinned element */
}
.project-desc-wrap .project-info h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    margin-bottom: 14px;
}
.project-desc-wrap .image-wrap {
    margin: 40px 0;
    position: relative;
    text-align: center;
}
.project-desc-wrap .image-wrap img {
    max-width: 100%;
    height: auto;
}


.delimiter {
    margin-bottom: 25px;
}
/* CALL TO ACTION / CTA
   ================================================== */

.cta {
    background: #212127;
    -webkit-background-size: cover;
    background-size: cover;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    position: relative;
    padding: 35px 30px;
    margin-top: 50px;
}
.cta p {
    text-transform: uppercase;
    font-style: inherit;
    font-size: 11px;
    letter-spacing: 2px;
    color: #8A8A8A;
}
/* EXTRA INFO SECTION
   ================================================== */

#extra-info {
    background: #26292a url("http://placehold.it/1920x600");
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    color: #8A8A8A;
    position: relative;
}
#extra-info .overlay {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(33, 33, 39, 0.96) url("../images/dot.png");
}
#extra-info h1 {
    margin-top: 0;
    color: #fff
}
#extra-info ul.info-list {
    margin-bottom: 35px
}
#extra-info ul.info-list li {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid #FFFDFD;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
/* ABOUT SECTION
   ================================================== */

.team-holder {
    position: relative;
    display: block;
}
.team-holder .team-info .name {
    margin-bottom: 15px;
}
.team-holder .social-icons {
    margin-top: 15px
}
/* BLOG SECTION HOME PAGE
   ================================================== */

#news {
    background: #212127;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    color: #8A8A8A;
}
.post-row {
    position: relative;
    margin-bottom: 35px;
}
.post-row .post-date {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.post-row h3 {
    margin-top: 0;
    color: #fff;
}
.post-row h3 a {
    color: #fff;
}
/* CONTACT
   ================================================== */

#cta-contact {
    padding: 20px 0;
}
#contact {
    background: #f1f1f1;
}
#contact #comments {
    margin-top: 0;
}
#contact form {
    height: 215px;
}
#contact form .right {
    float: right;
}
#contact form input,
#contact form textarea {
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    border: none;
}
#contact form input {
    padding-left: 15px;
    height: 42px;
    border-radius: 0;
    text-transform: uppercase;
}
#contact form textarea {
    padding: 15px;
    height: 90px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 0;
    font-size: 11px;
    letter-spacing: 2px;
}
#contact form .btn {
    width: 100%;
    height: 50px;
    border-radius: 0;
    background: #212127;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    color: #fff;
}
#contact form .btn:hover {
    background: #3B3B3F;
}
.alert-success {
background-color: #3DC98B;
border-color: rgba(214, 233, 198, 0);
color: #FFFFFF;
}

.alert-danger {
background-color: #EC4977;
border-color: rgba(235, 204, 209, 0);
color: #FFFFFF;
}

/* FOOTER
   ================================================== */

.footer-sat-bg {
    margin-top: 40px;
    background-color: #FFA9AA;
    width: 100%;
    position: relative;
    padding: 40px 0;
    opacity: 0.8;
    transition: 0.3s all ease-in;

}

.footer-sat-onward{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #B95252;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-sat-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0px;
}

.footer-sat-bg:hover{
    opacity: 1;
}


.footer-ka-mobile-bg {
    margin-top: 40px;
    background-color: #596F85;
    width: 100%;
    position: relative;
    padding: 40px 0;
    opacity: 0.8;
    transition: 0.3s all ease-in;

}

.footer-ka-mobile-onward{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #BBDDFF;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-ka-mobile-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0px;
}

.footer-ka-mobile-bg:hover{
    opacity: 1;
}


.footer-sap-bg {
    margin-top: 40px;
    background-color: #00C0A5;
    width: 100%;
    position: relative;
    padding: 40px 0;
    opacity: 0.8;
    transition: 0.3s all ease-in;

}

.footer-sap-onward{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #195D53;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-sap-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0px;
}

.footer-sap-bg:hover{
    opacity: 1;
}

.footer-myfab5-bg {
    margin-top: 40px;
    background-color: #FAFAFA;
    width: 100%;
    position: relative;
    padding: 40px 0;
    opacity: 0.8;
    transition: 0.3s all ease-in;

}

.footer-myfab5-onward{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #25BD97;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-myfab5-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #21242C;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0px;
}

.footer-myfab5-bg:hover{
    opacity: 1;
}

.footer-wemap-bg {
    margin-top: 40px;
    background-color: #FCD97B;
    width: 100%;
    position: relative;
    padding: 40px 0;
    opacity: 0.8;
    transition: 0.3s all ease-in;

}

.footer-wemap-onward{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #866614;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-wemap-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #3E3C2E;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0px;
}

.footer-wemap-bg:hover{
    opacity: 1;
}

.footer-daya-bg {
    margin-top: 40px;
    background-color: #5AC5D1;
    width: 100%;
    position: relative;
    padding: 40px 0;
    opacity: 0.8;
    transition: 0.3s all ease-in;

}

.footer-daya-onward{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #126376;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-daya-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0px;
}

.footer-daya-bg:hover{
    opacity: 1;
}

#footer {
    padding: 50px;
    background-color: #212127;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    text-align: center;
}
#footer .disclaimer {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #8A8A8A;
    letter-spacing: 0.2em;
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}

.footer-wrapper {
    margin-top: 20px;
    padding: 0 20px 25px 50px;
    background-color: #f6f6f6;
    /*outline: 1px dashed #4B4846;*/
    /*outline-offset: -6px;*/
    text-align: right;
}

.footer-wrapper i {
    color: #75747A;
    font-size: 22px;
    padding-left: 8px;
}

.footer-wrapper i:hover {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    color: #333;
}
/* BLOG
   ================================================== */

.blog-item {
    margin-bottom: 60px;
}
.blog-list {
    margin-bottom: 65px;
}
.blog-list .blog-item .item-content {
    padding: 25px 0;
}
.blog-item .item-content {
    padding: 25px 15px;
    background: #fff;
}
.post-media,
.post-title,
.post-meta {
    display: block;
    padding: 15px 0;
}
.post-title h2.title,
.post-title h2.title a {
    color: rgb(43, 42, 56);
    font-size: 28px;
    margin: 0;
    font-weight: 600;
}
.post-title h2.title a:hover {
    color: #48505e;
}
.post-title blockquote {
    color: #aaa;
    margin: 0;
    padding: 0;
    width: 100%;
}
.post-title blockquote:before {
    content: "";
}
.post-title blockquote p {
    font-style: normal;
    padding-left: 0;
}
.post-meta {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 14px 0 20px 0;
    padding: 0;
    text-transform: uppercase;
}
.post-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.post-meta li {
    display: inline;
    margin-right: 5px;
}
.post-meta li:last-child {
    margin-right: 0;
}
.post-meta li:after {
    content: "\2022";
}
.post-meta li:last-child:after {
    content: "";
}
.post-meta span {
    padding-right: 8px;
    line-height: 18px;
}
.post-meta a {
    color: #aaa;
    display: inline-block;
}
.post-meta a:hover {
    color: #676767;
}
.post-entry .button {
    margin-top: 14px;
}
.format-video iframe,
.format-video object,
.format-video embed {} .post-media {
    position: relative;
}
.post-media img {
    display: block;
    width: 100%;
}
.responsive-video-div > div {
    position: relative;
}
.responsive-video-div iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.responsive-video-vimeo {
    max-width: 1130px;
}
.responsive-video-vimeo > div {
    padding-top: 56.26506%;
}
.responsive-video-youtube {
    max-width: 1130px;
}
.responsive-video-youtube > div {
    padding-top: 56.271981%;
}
.post-date {
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 14px;
    text-transform: uppercase;
    margin-top: 20px;
}
.post-date ul {
    margin: 0;
    padding: 0;
}
.post-date li {
    display: inline;
    margin-right: 5px;
}
.post-date li:last-child {
    margin-right: 0;
}
.post-date span.day:after {
    content: ",";
}
.post-date li:after {
    content: "/";
    margin-left: 8px;
}
.post-date li:last-child:after {
    content: "";
    margin-left: 0;
}
.post-entry .divider {
    border-bottom: 1px solid #eee;
    width: 20%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
}
/* BLOG COMMENTS
   ================================================== */

#comments {
    margin-top: 45px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #eee;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.author {
    background: #212127;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    position: relative;
    padding: 35px 30px;
    margin-top: 50px;
    color: #8A8A8A;
}
.blog-tags {
    margin-top: 35px;
}
.blog-tags a {
    border: none;
    margin: -5px 10px 0;
}
#comments .media .avatar,
.author .avatar {
    width: 80px;
    height: 80px;
    display: block;
}
.media-heading {
    margin: 0 0 20px;
}
.media-heading a {
    color: #000;
    display: block;
}
.media-heading a:hover {
    background-color: #f7e800;
    -webkit-text-decoration-style: none;
    -moz-text-decoration-style: none;
    text-decoration-style: none;
}
.media,
.media {
    margin-top: 30px;
}
.media-body .well {
    background: transparent;
}
/* SUBHEADER USED FOR INTERNAL PAGES
   ================================================== */

.subheader {
    background: #212127;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    color: #8A8A8A;
    display: block;
    height: 150px;
    margin-bottom: 65px;
    ms-overflow-y: hidden;
    overflow-y: hidden;
    position: relative;
}
.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    list-style: none;
    margin-top: 55px;
    padding: 0;
}
.breadcrumb li a {
    color: #fff;
}
.breadcrumb li.active {
    color: #fff;
    font-weight: 600;
}
/* BLOG PAGE
   ================================================== */

.comment-form {
    margin: 50px 0 80px;
    border-top: 1px solid #eee;
}
.widget {
    margin-bottom: 30px;
}
.blog-container {
    padding-bottom: 80px;
    padding-top: 55px;
}
h4.heading {
    padding: 15px 20px;
    background: #212127;
    outline: 1px dashed #4B4846;
    outline-offset: -6px;
    color: #8A8A8A;
}
ul.menu-link {
    margin-bottom: 9px;
}
ul.menu-link > li {} ul.menu-link > li:first-child {
    border: none;
}
ul.menu-link > li a {
    color: #26292a;
    display: block;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
ul.menu-link > li a:hover {
    color: #000;
    text-decoration: none;
}
.tagcloud a {
    background-color: #fff;
    border: 1px solid #eee;
    color: #434955;
    border-radius: 18px;
    display: inline-block;
    font-size: 15px !important;
    line-height: 26px;
    margin: 0 8px 10px;
    moz-transition: .3s;
    ms-transition: .3s;
    o-transition: .3s;
    padding: 0 10px;
    -webkit-transition: .3s;
    transition: .3s;
    vertical-align: top;
    webkit-transition: .3s;
}
.tagcloud a:hover {
    background-color: #ebebeb;
    color: #000;
    text-decoration: none;
}
/* LATEST POSTS WiDGET */

.side-post ul {
    padding: 0;
}
.side-post li {
    clear: both;
    border-bottom: none;
    list-style: none;
    padding: 10px 0 !important;
}
.side-post {
    margin: 0 0 10px;
}
.side-post li img {
    float: left;
    width: 60px;
    margin: 0 10px 2px 0;
    padding: 3px;
}
.side-post li a {
    display: block;
    color: #353535;
    margin: 10px 0 0 !important;
}
.side-date {
    font-style: italic;
    font-size: 11px;
}
/* INPUTS */

input[type=text],
.form-inline input,
.form-control,
textarea {
    border: #eee solid 1px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 10px;
    webkit-box-shadow: none;
    font-size: 11px;
    letter-spacing: 2px;
}
/* LOADER */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    transition: width 1s;
}
.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    -webkit-box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Customizable Styles */
.green-separator {
    background-color: #8BC34A;
    width: 100%;
    position: relative;
}

.green-separator .bg-texture {
  background-image: url(../images/green-separator.png);
  height: 100%;
  width: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
}


.green-separator h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.blue-separator {
    background-color: #72C4D3;
    width: 100%;
    position: relative;
}


.dark-blue-separator {
    background-color: #56687A;
    width: 100%;
    position: relative;
}

.light-gray-separator {
    background-color: #F6F7F7;
    width: 100%;
    position: relative;
}

.lighter-gray-separator {
    background-color: #FAFAFA;
    width: 100%;
    position: relative;
}

.pink-separator {
    background-color: #FFA9AA;
    width: 100%;
    position: relative;
}
/* .dark-blue-separator span{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
} */


.darker-blue-separator {
    background-color: #3E4F66;
    width: 100%;
    position: relative;
}

.dark-blue-separator h2 {
    /* SOLUTION: */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 50px;
    text-shadow: 2px 3px 0px rgba(255,255,255,0.10);
    text-align: center;
    letter-spacing: 1px;
}




#project-sub-title {
    font-family: Karla, sans-serif;
    color: #7E7E7E;
    font-size: 22px;
}

.project-desc-wrap h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}

/* .portfolio-sub-title {
.project-desc-wrap h2 {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #26292A;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
} */

/* .project-desc-wrap h3 {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #26292A;
    text-transform: uppercase;
    font-weight: normal;
} */

/* .project-desc-wrap p,
.grey-separator p,
.white-separator p,
ul li {
    color: #464B52;
    font-weight: normal;
    line-height: 32px;
}
 */




.project-desc-wrap p em {
    color: #464B52;
    font-weight: normal;
    font-style: normal;
}


.unstyled-bullet-points {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.project-desc-wrap .isotope-item {
    float: none !important;
}

.project-desc-wrap .isotope-item figure img {
    margin: 0 auto;    
}

.project-desc-wrap .isotope-item:hover .layer {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.isotope-item .project-info h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #26292A;
    line-height:24px;
}

.extra-padding {
    padding-top: 35px;
    padding-bottom: 35px;
}

ul.dashed {list-style: none;}
ul.dashed li:before{ content:"-"; position:relative; left:-20px;}
ul.dashed li{ text-indent:-5px; }

.bluegreen-separator {
    background-color: #79C0C2;
}

.bluegreen-separator h2 {
    /* SOLUTION: */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 60px;
    text-shadow: 2px 3px 0px rgba(0,0,0,0.10);
}

.bluegreen-separator p {
    /* Monitroing App + Too: */
    font-size: 30px;
    color: #FFFFFF;
}

.daya-solution-wrapper {
    padding-top: 30px;
    padding-bottom: 45px;
}

.sap-logotype-wrapper {
    padding-top: 99px;
    padding-bottom: 98px;
}

.ka-mobile-mock-wrapper {
    padding-top: 72px;
    padding-bottom: 72px;
}

.sat-logotype-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sat-review-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}


.grey-separator {
    background-color: #FCFCFC;
    padding: 80px 0;
}

.white-separator {
    background-color: #FFFFFF;
    padding: 80px 0;
}

/* .white-separator h2,
.grey-separator h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 32px;
    color: #707070;
} */


.footer-nav .pj-name {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #696A6A;
    text-align: center;
}

.footer-nav .pj-name.current {
    color: #55B4A1;
}

.footer-nav a:hover {
    text-decoration: none;
}

.footer-nav .desc {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: #807E84;
    font-weight: 400;
    text-align: center;
}

.footer-nav .col-sm-1:hover .pj-name {
    color: #55B4A1;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
}

.footer-nav .col-sm-1 {
    width: 50%;
    padding: 0;
    float: left;
    margin-top: 5px; 
    margin-bottom: 5px;
}

.footer-nav .actions {
    font-family:'Montserrat', sans-serif;
    font-size:11px;
    color: #777777;
    margin-bottom: 30px;
    margin-top: 15px;
}

.footer-nav .actions a {
    color: #777777;
}

.footer-nav .actions a:hover {
    color: #55B4A1;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
}

@media (min-width: 500px) {
    .footer-nav .col-sm-1 {
        width: 33%;
        padding: 0;
        float: left;
    }
}


@media (min-width: 768px) {
    .footer-nav .col-sm-1 {
        width: 20%;
        padding: 0;
    }
}


@media (min-width: 990px) {
    .learn-to-brush {
        width: 36%;
    }

    .footer-nav .col-sm-1 {
        width: 11.111111%;
        padding: 0;
    }
}




.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/back-to-top.png) no-repeat center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .5;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  /*background-color: #e86256;*/
  opacity: 1;
}

.btn-launch:link,
.btn-launch:visited {
    border: 2px solid #16A95B;
    border-radius: 4px;
    padding: 16px 40px;
    font-size: 20px;
    color: #16A95B;
    line-height: 32px;
}

.btn-launch:hover,
.btn-launch:active {
    color: #fff;
    background-color: #16A95B;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}


.btn-myfab5:link,
.btn-myfab5:visited {
    border: 2px solid #3DA49D;
    border-radius: 3px;
    padding: 18px 40px;
    font-size: 20px;
    color: #3DA49D;
}

.btn-myfab5:hover,
.btn-myfab5:active {
    color: #fff;
    background-color: #3DA49D;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}



.lead{
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 32px;
}

.project-desc-wrap .lead {
    font-family: Arvo, serif;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 80px;
    line-height: 32px;
}


#intro .learn-more {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 144px;
}    



.project-bg-1 {
    background-color: #5AC5D1;
}

.project-bg-2 {
    background-color: #FFA9AA;
}

.project-bg-3 {
    background-color: #596F85;
}

.project-bg-4 {
    background-color: #00C0A5;
}

.project-bg-5 {
    background-color: #FAFAFA;
}

.project-bg-6 {
    background-color: #FCD97B;
}

.project-bg-1 .learn-more a {
    color: #126376;    
}

.project-bg-2 .learn-more a,
.project-bg-2 .request-password a{
    color: #B95252;    
}

.project-bg-3 .learn-more a {
    color: #BBDDFF;
}

.project-bg-4 .learn-more a {
    color: #195D53;    
}

.project-bg-5 .learn-more a {
    color: #25BD97;    
}

.project-bg-6 .learn-more a {
    color: #866614;    
}


.project-item {
    color: #ffffff;
}

.project-bg-5 .project-item {
    color: #464B52;
}

.project-bg-6 .project-item {
    color: #3E3C2E;
}

.project-item .right-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 32px;
    margin-left: -8px;
}

.project-item .text-wrapper {
    margin-top: 64px;
}

.project-item .project-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}

.project-item .project-description {
    font-family: Arvo, serif;
    font-size: 18px;
    line-height: 32px;
    margin-top: 16px;
}

.project-item .learn-more {
    line-height: 24px;
    margin-top: 32px;
}

.project-item .learn-more a,
.project-item .request-password a {
    font-family: Roboto, sans-serif;
}

.ka-password-instruction {
/* Please enter the pas: */
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #626569;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.ka-password-instruction img{
    margin-right: 8px;

}

#ka-password {
    padding-left: 16px;
    line-height: 40px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #626569;
    letter-spacing: 0px;
    border-radius: 8px;
    height: auto;
    width: 320px;


}

.password-failed {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #626569;
}


/* #ka-password-submit{

    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 8px 40px;
    background-color: #FFA9AA;
    border-radius: 100px;
    transition: ;


} */

#ka-password-submit{

    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 48px;
    background-color: #FFA9AA;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.2s;

}

#ka-password-submit:hover {
    background-color: #F47C7D;

}

#ka-password-submit:active {
    background-color: #E1494B;
    transition: none;

}

#ka-password-request {
    font-family: Roboto, sans-serif;
    font-size: 16px;  
    margin-left: 48px;
}

.fadeInBlock {
    opacity:0;
}

#ka-mobile-sap-nav footer{
/*     position: absolute;
    bottom: 0; */
    width: 100%;
    margin-top: 160px;
}

@keyframes arrow-bounce{60%{transform:translateX(8px)}70%{transform:translateX(-3px)}80%{transform:translateX(2px)}90%{transform:translateX(-1px)}}

@media (min-width: 768px){
    .container {
        width: 1005px;
    }

    ul { margin: 16px 0 0; padding: 0;}
    li li {margin-right: 1em;}

    #portfolio-container .isotope-item {
        width: 49.9%;
    }

    #intro .container,
    #projects .container {
        width: 1280px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    #intro .container .row,
    #projects .container .row {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-wrap .container {
        width: 1280px;
    }
    .navbar-default .righ-side {
        width: inherit;
    }

    #visual .container {
        width: 1170px;
    }

    .project-bg-1 {
        height: 640px;
    }

    .project-item .left-wrapper.col-sm-7 {
        width: 552px;
        padding: 0;
        margin-left: 96px;
        margin-right: 12px;
    }

    .project-item .right-wrapper.col-sm-5 {
        width: 620px;
        padding: 0;
    }

    #intro .col-sm-7 {
        padding: 0;
        margin-left: 96px;
        width: 659px;
    }

    .project-item .right-wrapper {
        height: 640px;
        position: relative;
    }

    .project-item .right-wrapper img {
        // margin-left: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .project-item .text-wrapper {
        margin-top: 230px;
        cursor: pointer;
        // opacity: 0.95;
        
    }

    .project-item .text-wrapper .project-title,
    .project-item .text-wrapper .project-description,
    .project-item .text-wrapper .learn-more {
        transition: 0.23s ease-in;
    }

    // .project-item .learn-more a:after {
    //     content: url(/images/learn-more.svg);
    //     display: inline-block;
    //     margin-left: 7px;
    // }

    // .project-item .learn-more a:hover:after {
    //     animation: arrow-bounce 1s cubic-bezier(.4,.04,.4,1);
    // }


    // .text-wrapper:hover .project-title,
    // .text-wrapper:hover .project-description,
    // .text-wrapper:hover .learn-more, {
    //     opacity: 1;
    //     text-shadow: 0px 2px 6px rgba(0,0,0,0.50);
    // }

    .project-item .text-wrapper:hover .project-title,
    .project-item .text-wrapper:hover .project-description,
    .project-item .text-wrapper:hover .learn-more {
        // opacity: 1;
        text-shadow: 0px 2px 6px rgba(0,0,0,0.10);
    }

    // .project-item:hover a:after {
    //     animation: arrow-bounce 1s cubic-bezier(.4,.04,.4,1);
    // }

    .right-side {
        margin-right: 81px;
    }

    .navbar-default li.vertical-separator {
        margin: 0;
        padding: 0;
        height: 15px;
        margin-top: 34px;
        border-left: 1px solid #ececec;
    }

    .contact-icon.email {
        width: 46px;
        margin-left: 13px;
    }

    .contact-icon.linkedin {
        width: 44px;
        margin-left: 0;
    }

    .methods-special img {
        max-width: inherit !important;
    }

}
